*{
	box-sizing:border-box;
	}

body{
	margin:0px;
	background-color:#0e0e15;
	}
	
.abc{
	height:2000px;
	margin:0px auto 0px auto;
}

.head{
	border-bottom:solid red 1px;
	height:150px;
	margin-bottom:100px;
	}
	
	
.div{
	width:1280px;
	height:200px;
	}
	
.header_image{
	margin:30px 0px 0px 120px;
	}

.movie_row{
	border-bottom:solid  1px #5e5e75;
	height:300px;
	width:980px;
	margin:60px auto 10px auto;
	}
	
.watch_2{
	margin-top:120px;
	margin-left:420px;
	}

	
.footer{
	margin:300px 0px 0px 0px;
	border-top:solid hotpink 2px;
	border-bottom:solid hotpink 1px;
	height:150px;
	background: #272734;
	} 
	
.image1{
	float:left;
	}
	
.movie_hub{
	margin-left:20px;
	margin-bottom:15px;
}	

.watch{
	margin-left:1250px;
	margin-bottom:10px;
	height:15px;
	}
	
.add_movie{
	float:right;
	margin-top:65px;
	margin-right:100px;
	height:15px;
	}
	
h1{
	color:white;
	margin:0px;
  	line-height: 0.8;
	}
 
h4{
	margin:0px;
  	line-height: 0.8;
  	}
	
	
.movie_details {
	border:solid pink 1px;
	width:700px;
	height:210px;
	margin-left:230px;
	color:white;        

	}
	
.movie_image{
	border:solid green 1px;
	float:left;
	height:255px;
	}
	
.action{
	border:solid blue 1px;
	height:40px;
	width:750px;
	margin-left:230px;
	margin-top:5px;
	font-size:20px;
	text-align:center;
	line-height:40px;
	color:white;
}

.delete{
	float:right;
	margin-bottom:100px;
	cursor:pointer;
	width:30px;
	}
	
.rating{
	background-color:#272734;
	width:45px;
	height:45px;
	float:left;
	margin:0px 15px 0px 15px;
	}
	
.like{
	float:left;
	cursor:pointer;
	width:40px;
	} 
	
.dislike{
	float:left;
	cursor:pointer;
	width:40px;
	}	
	
.rating{
	text-align:center;
	line-height:40px;
	font-size:20px;
  	border-radius: 50%;
	}
	
.foot{
	margin-left:70px;
	margin-top:80px;	
	}	
	
.new{
	border:solid white 1px;
	height:100px;
	width:200px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
